<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>robot control</title>
    <script src="https://code.jquery.com/jquery-3.6.3.min.js"></script>
    <script src="index.js"></script>
    <link rel="stylesheet" href="style.css">
    <style>

    </style>
</head>
<body>
    <input type="text" id="speedleft">
    <input type="text" id="speedright"> 
    
    <button id="forward" onclick="direction('f');">forward</button> 
    <button id="backward" onclick="direction('b');">backward</button>
    <button id="left" onclick="direction('l');">left</button>
    <button id="right" onclick="direction('r');">right</button>
</body>
</html>