<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hello</title>

    <style>
        body {
            background-color: #293333;
            height:100vh;
            width:100vw;
            display:flex;
            align-items: center;
            justify-content: center;
        }
    </style>

    <script>
        redirect();

        async function redirect() {
            await new Promise(r => setTimeout(r, 4500));
            location.reload();
        }
    </script>
</head>
<body>
    <div class="container">
        <img src="waffle.gif" alt="">
    </div>
</body>
</html>